<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>

        <td>
            <h1 th:text=" 'Alumn@ ' + ${estudiante.nombre} + ' ' + ${estudiante.primerApellido} + ' ' + ${estudiante.segundoApellido}"></h1>
        </td>
        <fieldset> 
            <table>
                <tr>
                   <legend>Detalles</legend>
                </tr>
                    <td th:text=" 'Género: ' + ${estudiante.genero}"></td> 
                </tr>
                <tr>
                    
                    <td th:text=" 'Asignaturas matriculadas: ' + ${estudiante.totalAsignaturasMatriculadas}"></td> 
                </tr>
                <tr>
                    <td th:text=" 'Fecha de matriculación: ' + ${estudiante.fechaMatriculacion}"></td> 
                </tr>
                
                <tr>
                    <label for="telefonos">Telefonos</label>
                <input type="text" id="telefonos" name="numerosTel"
                    placeholder="Separados por punto y coma"
                        th:value="${numerosTelefono}">
                </tr>
                <div>
                    <label for="correos">Correos</label>
                <input type="text" id="correos" name="direccionesCorreo"
                    placeholder="Separados por punto y coma"
                        th:value="${direccionesDeCorreo}"> 
                </div>
                     
               
                
                
               
                
            </table>
        </fieldset>
    </body>
</html>