<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRUD de Estudiantes</h1>
    <h3>Listado de Estudiantes</h3>
    <div>
        <a th:href="@{/frmAltaModificacionEstudiante}">Formulario de Alta de  Empleado</a>
    </div>

    <table>
        <thead>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
        </thead>
        <tbody>
            
            <tr th:each=" estudiante : ${estudiantes}">
                <td th:text="${estudiante.nombre}"></td>
                <td th:text="${estudiante.primerApellido}"></td>
                <td th:text="${estudiante.segundoApellido}"></td>
                <td>
                    <a th:href="@{/detalles/}+${estudiante.id}">Detalles</a>
                    <a th:href="@{/eliminar/}+${estudiante.id}">Eliminar</a>
                </td> 
            </tr>          
        </tbody>
    </table>
</body>
</html>